<div class="container">
  
  <br>

  <h3>BACKGROUND</h3>

  <div>
    <p id="about">Hi, my name is Mrwan - pronounced mahr-wan - , I live in Cananda Montreal and I started my journey into 
      programming with a focus on web developement since november 2nd 2017. Most of the knowledge that I gained was through 
      the internet(Udemy, freecodecamp, youtube, etc...), so I had to be very disciplined and dedicated about it if I wanted 
      to grow. I am very eager to work with a team of developerse and I can easily be coached so I can refine my craft to the next level and 
      provide a valuable service. I continiously learn outside of the job since I know how dynamic the software developement 
      world can be. Thank you for reading!
    </p>
  </div>

  <br>

  <div>
    <h3>TECHNICAL SKILLS</h3>
    <br>
    <h4>FRONT-END</h4>
    <p>HTML &nbsp;  <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
    <p>CSS &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
    <p>JAVASCRIPT &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
    <ul><li>Angular 5 &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></li></ul>
    <p>Can build bootstrap responsive website</p>
    <br>
    <h4>BACK-END</h4>
    <p>NODE.JS(Express) &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
    <p>MongoDB &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
  </div>
</div>
<app-footer></app-footer>
