<div class="container">
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHjDIu9yVM1zKhTo3jjKTGOlcv8nyjjCDPMUYXpb4fkrqAZa4_iw" alt="person photo template">
  </div>

  <div>
    <p style="margin-top: 10px;">Hi, my name is Mrwan - pronounced mahr-wan - , I live in Cananda Montreal and I started my journey into programming with a focus 
      on web developement since november 2nd 2017. Most of the knowledge that I learned was by myself(Udemy, freecodecamp, youtube, etc...) so I had to be very disciplined and dedicated about it. I am very eager 
      to work with a team and can easily be coached so I can refine my craft to the next level and provide an efficient service. I continiously learn outside of the job since I know
      how dynamic the developement world is. Thank you for reading!
    </p>
  </div>

  <div>
    <h3>TECHNICAL SKILLS</h3>
    <br>
    <h4>FRONT-END</h4>
    <p>HTML &nbsp;  <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
    <p>CSS &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
    <p>JAVASCRIPT &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
    <ul><li>Angular 5 &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></li></ul>
    <p>Can build bootstrap responsive website</p>
    <br>
    <h4>BACK-END</h4>
    <p>NODE.JS(Express) &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
    <p>MongoDB &nbsp; <i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i><i class="ion-android-star-outline"></i></p>
  </div>
</div>
<app-footer></app-footer>
