<div class="container wrapper">

    <h3 id="a">Some side projects:</h3>
    
    <a href="https://codepen.io/Neo-dev/full/ppKqjp" target="blank"><div class="projectTemplate" id="one">

    </div></a>

    <a href="https://codepen.io/Neo-dev/full/JOQgqZ" target="blank"><div class="projectTemplate" id="two">

    </div></a>

    <a href="https://codepen.io/Neo-dev/full/GQoEzj" target="blank"><div class="projectTemplate" id="three">
      
    </div></a>

    <h3 id="b">Client projects: will be displayed here</h3>
    
</div>
<app-footer></app-footer>

