<div class="container wrapper">

    <h3 id="a">Some side projects:</h3>
    
    <a href="https://codepen.io/Neo-dev/full/ppKqjp" target="_blank"><div class="projectTemplate" id="one"> </div></a>

    <a href="https://codepen.io/Neo-dev/full/JOQgqZ" target="_blank"><div class="projectTemplate" id="two"></div></a>

    <a href="https://codepen.io/Neo-dev/full/GQoEzj" target="_blank"><div class="projectTemplate" id="three"></div></a>

    <a href="https://salty-meadow-33783.herokuapp.com" target="_blank"><div class="projectTemplate" id="four"></div></a>

    <h3 id="b">Client projects: will be displayed here</h3>
    
</div>
<app-footer></app-footer>

