img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 200px;  
}

.btn {
display:inline-block;
padding: 0.5em 3em;
border:0.16em solid rgb(0, 0, 0);
margin:0 0.3em 0.3em 0;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-family:'Roboto',sans-serif;
font-weight:400;
color:rgb(0, 0, 0);
text-align:center;
transition: all 0.15s;
position: absolute;
top: 80%;
left: 43.8%;
}

.btn:hover {
 color:rgb(80, 178, 235);
 border-color:rgb(80, 178, 235);
}

.btn:active {
color:#BBBBBB;
border-color:#BBBBBB;
}

.msgBox {
  background: rgba(0, 0, 0, 0.65);
  color: rgb(255, 255, 255);
  display: inline-block;
  position: absolute;
  padding: 85px;
  padding-bottom: 65px;
  top: 45%;
  left: 40%;
  text-transform: uppercase;
  border-radius: 20%; 
}

.ion-ios-sunny {
  color: yellow;
  margin-left: 40%;
  font-size: 2.5em;
}

@media screen and (max-width: 350px) {

  .msgBox {
    left: 20%;
    padding: 15px;
    top: 66%;
  }

  .btn {
    left: 22%;
    top: 90%;
  }

}

@media screen and (max-height: 600px) {
  
  h1 {
    top: 70px;
  }
  
  .msgBox {
    left: 20%;
    padding: 15px;
    top: 130%;
  }

  .btn {
    left: 21%;
    top: 200%;
    margin-bottom: 80px;
  }

}


