.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: #3b609b;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
 }

 .ion-social-github {
     font-size: 1.3em
 }
 